.cardWrapper {
    padding: 7vh 5vw;
    box-sizing: border-box;
    position: relative;
}

.infoCardStyle {
    height: 85vh;
    width: 20vw;
    border: 1px solid black;
    z-index: 1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-2);
    justify-content: flex-start; 
    overflow: hidden;
    position: relative;
}

.profilePicture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 8px;
    position: relative; 
}

.profilePicture img {
    border-radius: 20px 20px;
    width: 130px;
    height: 140px;
}

.profilePicture h1,
.profilePicture h3 {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-family: var(--font-family);
    font-weight: var(--font-weight-1);
    text-align: center;
}


.profilePicture h1 {
    color: var(--primary-text-color);
    margin-top: 7px;
}

.profilePicture h3 {
    color: var(--highlight-text-color);
    margin-top: 4px;
}

.contactSection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.contacts {
    padding-top: 25px;
    position: relative;
    left: 30px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    font-family: var(--font-family);
}

.contacts li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.contacts .iconContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 16px;
    background: var(--border-gradient-icon);
    z-index: 1;
    border-radius: 8px;
}

.contacts .iconContainer::before {
    content: ""; /* pseudo elements (::before) are virtual elements, which doesn't exist in html dom but generated through css */
    position: absolute;
    background: var(--bg-color-3);
    inset: 1px; /* To reduce the size from that of iconContainer from top 1px bottom 1px left 1px right 1px */
    z-index: -1;
    border-radius: inherit;
}

.contacts a {
    text-decoration: none;
    color: var(--primary-text-color);
    margin-left: 6px;
    font-size: 17px;
}

.contacts p {
    display: inline;
    margin-left: 6px;
    color: var(--primary-text-color);
}

.spacer {
    flex-grow: 1;
}
.publicProfiles {
    display: flex;
    gap: 30px;
    justify-content: center;
    position: relative;
    padding-bottom: 20px;
}

.toggleBtn {
  display: none; 
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 8px 12px;
  background-color: var(--bg-color-2);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  animation: bounce 1s infinite;
  z-index: 2;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    opacity: 0.65;
  }
  50% {
    transform: translateY(6px);
    opacity: 1;
  }
}


@media (max-width: 1150px) {
  .infoCardStyle {
    max-width: 100%;
    width: 90vw;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }

  .contacts {
    justify-content: center;
    left: 0;
  }

  .contacts li {
    flex-direction: row;
    justify-content: flex-start;
  }

  .publicProfiles {
    justify-content: center;
    padding-top: 15px;
  }

  .contactSection {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
  }
}
@media (max-width: 650px) {
  .infoCardStyle {
    max-width: 100%;
    width: 90vw;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }

  .toggleBtn {
    display: block;
  }

  .contacts {
    padding-left: 0;
    left: 0;
  }

  .contacts li {
    flex-direction: row;
    justify-content: flex-start;
  }

  .publicProfiles {
    justify-content: center;
    padding-top: 15px;
  }

  .profilePicture {
    flex-direction: row;
  }

  .profilePicture img {
    width: 120px;
    height: 130px;
  }
  .profilePicture h1 {
    font-size: 25px;
  }
  .profilePicture h3 {
    font-size: 19px;
  }
}
