.projectContainer {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-top: 20px;
    justify-content: space-around;
}

@media (max-width: 650px) {
    .projectContainer {
        flex-direction: column;
        gap: 30px;
        padding-bottom: 20px;
    }
}